/* -------------------------------------------------------------- */
/* Blog and portfolio ssite by Jaydn Edwards */
/* -------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');



/* CSS Reset by Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* My Code */
/* Variables */
:root{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
  
    --bodybg: #EBE3E1;
    --headerbg: #000000;
    --headercolor: #ffffff;
    --footerbg: #000000;
    --footercolor: #ffffff;
    --cardbg: #ffffff;
    
}

body{
    background: var(--bodybg);
}

main{
    margin: 0 auto;
    width: 90vw;
}

.page-content{
    width: 65ch;
    margin: 0 auto;
    margin-bottom: 80px;
}

section{
    margin: 40px 0;;
}

.feed-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-column-gap: 20px;
}

.blog-feed-item,
.portfolio-feed-item{
    grid-column: auto;
    -ms-grid-column: auto;
    grid-row: 2 / -1;
    
    background-color: var(--cardbg);
    padding: 1em 1em;
    
    display: grid;
    justify-content: center;
}

.portfolio-feed-item{
    padding-bottom: 2em;
}

.feed-title{
    font-size: 2em;
    margin-bottom: 1.25em;
}


.date{
    margin: 0;
}

img{
    object-fit: cover;
}

header{
    background-color: var(--headerbg);
    color: var(--headercolor);
    
    display: flex;
    margin-bottom: 80px;
    padding: 1em 5vw;
}

header a{
    color: var(--headercolor);
}

.nav{
    width: 275px;
}

.nav ul{
    display: flex;
    justify-content: space-around;
}

.nav li{
    list-style: none;
}

footer{
    background-color: var(--footerbg);
    color: var(--footercolor);
    
    margin-top: 80px;
}

footer a{
    color: var(--footercolor);
}

footer ul{
    margin-bottom: 0;
}